{% extends 'application/logged_in_base.html' %} {% block main_content %}
<div id="home">
  <div id="home-heading">
    <h2>Knobo: Knowlege Onboarding Assistant for Larger Engineering Teams</h2>
  </div>
  <div id="context-details" class="home-section-container">
    <h3>How larger engineering teams operate</h3>
    <ul>
      <li>
        No one engineer has the knowledge of the entire system architecture.
      </li>
      <li>
        System is generally broken down into different areas based on
        functionality.
      </li>
      <li>
        Senior engineers served as Point of Contacts (PoCs) or experts for
        knowledge within each area.
      </li>
    </ul>
  </div>
  <div id="problem-details" class="home-section-container">
    <h3>Problem</h3>
    <p>Knowledge is siloed.</p>
    <p>
      Engineering managers, senior leaders or junior engineers who need answers
      for specific questions end up pinging Senior Engineers on chat or set up
      1:1 time with them.
    </p>
    <p>This leads to:</p>
    <ul>
      <li>Time lost scheduling meetings to answer basic questions.</li>
      <li>
        Time lost in contacting multiple Senior Engineers to get to complete
        answer.
      </li>
      <li>
        Time wasted for Senior Engineers having to answer repetitive questions.
      </li>
    </ul>
  </div>
  <div id="solution-details" class="home-section-container">
    <h3>Solution</h3>
    <p>
      Document this knowledge and upload it to Knobo instead. Now anyone can get
      answers to their questions by just asking Knobo. Only reach out to Senior
      Engineers when the answer is missing.
    </p>
    <p>Advantages:</p>
    <ul>
      <li>
        Time saved in getting answer needed.
        <ul>
          <li>
            For new engineers, this could be faster onboarding with better
            understanding.
          </li>
          <li>For leaders, time can be even more critical.</li>
        </ul>
      </li>
      <li>
        Time saved for Senior Engineers having to answer fewer basic questions.
      </li>
      <li>
        Senior Engineers are incentivized for maintaining accurate
        documentation.
      </li>
      <li>Knowledge is easily accessible across the team.</li>
      <li>
        Developer productivity (and therefore team productivity) is higher.
      </li>
    </ul>
  </div>
</div>
{%endblock %}
