<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Userport</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>
  <body>
    <div id="top-navbar">
      <div id="left-part">
        <h2><a href="#">Userport</a></h2>
      </div>
      <div id="right-part">{% block user_account %}{% endblock %}</div>
    </div>
    <div id="main">{% block content %}{% endblock %}</div>
    <div id="footer">
      <div>2023 Copyright Userport, Inc</div>
    </div>
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      type="module"
    ></script>
  </body>
</html>
